.create-column-btn, .new-column-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto; }

.column .glyphicon-ok, .new-column-ok {
  position: relative;
  float: left;
  background-color: #004966;
  font-size: 16px;
  color: #B9BFC2;
  cursor: pointer;
  transition: .2s;
  padding: 4px; }
  .column .glyphicon-ok:hover, .new-column-ok:hover {
    color: #fff; }

.column .input-add, .new-column-input {
  background-color: #004966;
  color: #B9BFC2;
  font-size: 12px;
  font-weight: thin;
  font-style: italic;
  float: left;
  width: 86.6%;
  border: 3px solid #004966;
  border-bottom: 1px solid #fff;
  margin-top: -4px;
  transition: .3s; }
  .column .input-add:hover, .new-column-input:hover {
    color: #fff; }
  .column .input-add:focus, .new-column-input:focus {
    color: #fff; }
    .column .input-add:focus .glyphicon-ok, .new-column-input:focus .glyphicon-ok {
      color: #fff; }

.create-column-btn, .column-title {
  font-size: 25px;
  background-color: #004966;
  text-align: center;
  line-height: 45px; }

* {
  box-sizing: border-box; }

body {
  font-family: "Noto Sans", sans-serif;
  background-color: #8ED0EA; }

h1 {
  text-align: center;
  font-family: "Bungee", cursive;
  color: #004966; }

.board p {
  font-family: "PT Mono", monospace;
  text-align: center;
  font-size: 15px;
  color: #004966; }

.column {
  position: relative;
  min-height: 50px;
  top: 50px;
  color: #fff;
  transition: .3s; }
  .column .glyphicon-remove {
    position: absolute;
    right: 15px;
    cursor: pointer;
    color: #006A94;
    padding: 2px;
    font-size: 12px; }
    .column .glyphicon-remove:hover {
      color: #fff; }
  .column .input-add-div {
    height: 25px;
    width: 100%;
    background-color: #004966; }

.create-column-btn {
  min-width: 210px;
  color: #fff;
  border: none;
  transition: .3s; }

.new-column-btn {
  position: relative;
  height: 25px;
  width: 210px;
  background-color: #004966;
  display: none; }

.card {
  position: relative;
  background-color: #00A4E5;
  padding: 12px;
  margin-top: 5px;
  box-shadow: 0 2px 2px #333;
  cursor: move; }
  .card p {
    color: #fff;
    font-size: 14px;
    font-family: "PT Mono", monospace;
    font-weight: 500; }
  .card:hover {
    box-shadow: 1px 3px 3px #444;
    transform: scale(1.01);
    transform-origin: top right; }
  .card .glyphicon-remove {
    position: absolute;
    right: 0;
    cursor: pointer;
    color: #006A94;
    padding: 2px;
    font-size: 12px; }
    .card .glyphicon-remove:hover {
      color: #fff; }

.column-title {
  margin: 0; }

.column-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 5px;
  min-height: 50vh; }

.card-placeholder {
  height: 80px;
  margin-top: 5px;
  background-color: #00A4E5;
  opacity: .3; }

@media screen and (max-width: 480px) {
  .col-s-2 {
    width: 100%;
    float: none; }
  .column-list {
    min-height: auto; } }

@media screen and (min-width: 800px) {
  .column .input-add {
    width: 81%; }
  .column-title {
    font-size: 20px; } }

/*# sourceMappingURL=style.css.map */