%card-selector {
	position: absolute;
	content: '';
	bottom: 0;
	width: 180px;
	box-shadow: 0 2px 2px #000;
	opacity: .5;
	z-index: -1;
}

%card-selector-hover {	
	box-shadow: 0 3px 4px #000;
	opacity: .4;
	height: 5px;
}

%flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

%ok-sign {
	position: relative;
    float: right;
    background-color: $darker-clr;
    font-size: 16px;
    color: $grey-clr;
    cursor: pointer;
    transition: .2s;  
    padding: 4px;
    &:hover {
      color: $white-clr;
    }
}

%input-field {
	background-color: $darker-clr;
    color: $grey-clr;
    font-size: 12px;
    font-weight: thin;
    font-style: italic;
    float: right;
    width: 86.6%;
    border: 3px solid $darker-clr;
    border-bottom: 1px solid $grey-clr;
    margin-top: -3px;
    transition: .3s;
    outline-color: $darker-clr;
    &:hover {
      color: $white-clr;
    }
    &:focus {
      color: $white-clr;
      .glyphicon-ok {
        color: $white-clr;
      }
    }
}

%title {
  font-size: 25px;
  background-color: $darker-clr;
  text-align: left;
  line-height: 45px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 20px;
}