@import "variables";
@import "partials";

* {
  box-sizing: border-box;
}

body {
  font-family: $main-font;
  background-color: $bg-clr;
}

h1 {
  text-align: center;
  font-family: $title-font;
  color: $darker-clr;
}

.board p {
  font-family: $card-font;
  text-align: center;
  font-size: 15px;
  color: $darker-clr;
}

.column {
  position: relative;
  min-height: 50px;
  top: 50px;
  color: $white-clr;
  transition: .3s;

  .glyphicon-remove {
    position: absolute;
    right: 15px;
    cursor: pointer;
    color: $dark-clr;
    padding: 2px;
    font-size: 12px;
    &:hover {
      color: $white-clr;
    }
  }

  .input-add-div {
    height: 25px;
    width: 100%;
    background-color: $darker-clr;
  }
  .glyphicon-ok {
    @extend %ok-sign;
  }
  .input-add {
    @extend %input-field;
  }
}

.create-column-btn {
  @extend %flex-center;
  @extend %title;
  min-width: 210px;
  color: $white-clr;
  border: none;
  transition: .3s;
}

.new-column-btn {
  position: relative;
  @extend %flex-center;
  height: 25px;
  width: 210px;
  background-color: $darker-clr;
  display: none;
}

.new-column-ok {
  @extend %ok-sign;
}

.new-column-input {
    @extend %input-field;
}

.card {
  position: relative;
  background-color: $card-clr;
  padding: 12px;
  margin-top: 5px;
  box-shadow: 0 2px 2px #333;
  // transition: .1s;
  cursor: move;
  p {
    color: $white-clr;
    font-size: 14px;
    font-family: $card-font;
    font-weight: 500;
  }
  // &:before {
  //   position: absolute;
  //   content: '';
  //   bottom: 0;
  //   width: 180px;
  //   height: 3px;
  //   box-shadow: 0 2px 2px #000;
  //   opacity: .5;
  //   z-index: -10;
  //   right: 3px;
  //   transform: rotateZ(1.3deg);
  //   transform-origin: right bottom;
  // }
  // &:after {
  //   position: absolute;
  //   content: '';
  //   bottom: 0;
  //   width: 180px;
  //   height: 3px;
  //   box-shadow: 0 2px 2px #000;
  //   opacity: .5;
  //   z-index: -10;
  //   left: 3px;
  //   transform: rotateZ(-1.3deg);
  //   transform-origin: left bottom;
  // }
  //   &:before {
  //     @extend %card-selector-hover;
  //   }
  //   &:after {
  //     @extend %card-selector-hover;
  //   }
  &:hover {
    box-shadow: 1px 3px 3px #444;
    transform: scale(1.01);
    transform-origin: top right;
  }
  .glyphicon-remove {
    position: absolute;
    right: 0;
    cursor: pointer;
    color: $dark-clr;
    padding: 2px;
    font-size: 12px;
    &:hover {
      color: $white-clr;
    }
  }
}

.column-title  {
  @extend %title;
  margin: 0;
}

.column-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 5px;
  min-height: 50vh;
}

.card-placeholder {
  height: 80px;
  margin-top: 5px;
  background-color: $card-clr;
  opacity: .3;
}

@media screen and (max-width: 480px) {
  .col-s-2 {
    width: 100%;
    float: none;
  }
}

@media screen and (min-width: 800px) {
  .column .input-add {
    width: 81%;
  }

  .column-title {
    font-size: 20px;
  }
}