@import "variables";
@import "partials";

* {
  box-sizing: border-box;
}

body {
  font-family: $main-font;
  background-color: $bg-clr;
}

h1 {
  text-align: center;
  font-family: $title-font;
  color: $darker-clr;
}

.board p {
  text-align: center;
  font-size: 18px;
  color: $darker-clr;
}

.column {
  position: relative;
  min-height: 50px;
  top: 50px;
  color: $bg-clr;
  transition: .3s;
  &:hover {
    color: $white-clr;
  }
  .glyphicon-remove {
    position: absolute;
    right: 15px;
    cursor: pointer;
    color: $dark-clr;
    padding: 2px;
    font-size: 12px;
    &:hover {
      color: $white-clr;
    }
  }
  .input-add {
    background-color: $dark-clr;
    color: $bg-clr;
    width: 80%;
    height: 30px;
    border: 3px solid $darker-clr;
    margin-top: 0;
    text-align: left;
    transition: .3s;
    &:hover {
      color: $white-clr;
    }
  }   
}

.create-column {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $dark-clr;
  color: $white-clr;
  border: none;
  padding: 10px;
  margin: 0 auto;
  border: 3px solid transparent;
  transition: .3s;
  &:hover {
    text-shadow: $text-shadow;
    border: 3px solid $darker-clr;
  }
}

.card {
  position: relative;
  background-color: $card-clr;
  padding: 12px;
  margin-top: 5px;
  box-shadow: 0 2px 2px #333;
  // transition: .1s;
  cursor: move;
  p {
    color: $white-clr;    
  }
  // &:before {
  //   position: absolute;
  //   content: '';
  //   bottom: 0;
  //   width: 180px;
  //   height: 3px;
  //   box-shadow: 0 2px 2px #000;
  //   opacity: .5;
  //   z-index: -10;
  //   right: 3px;
  //   transform: rotateZ(1.3deg);
  //   transform-origin: right bottom;
  // }
  // &:after {
  //   position: absolute;
  //   content: '';
  //   bottom: 0;
  //   width: 180px;
  //   height: 3px;
  //   box-shadow: 0 2px 2px #000;
  //   opacity: .5;
  //   z-index: -10;
  //   left: 3px;
  //   transform: rotateZ(-1.3deg);
  //   transform-origin: left bottom;
  // }
  //   &:before {
  //     @extend %card-selector-hover;
  //   }
  //   &:after {
  //     @extend %card-selector-hover;
  //   }
  &:hover {
    box-shadow: 1px 3px 3px #444;
    transform: scale(1.01);
    transform-origin: top right;
  }
  .glyphicon-remove {
    position: absolute;
    right: 0;
    cursor: pointer;
    color: $dark-clr;
    padding: 2px;
    font-size: 12px;
    &:hover {
      color: $white-clr;
    }
  }
}

.glyphicon-plus {
  font-size: 18px;
  line-height: 18px;
  margin-right: 10px;
  float: left;
  color: $white-clr;
  
  transition: .2s;
}

.column-title  {
  text-align: center;
  line-height: 45px;
  background-color: $darker-clr;
  margin: 0;
  font-size: 25px;
}

.column-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 5px;
  min-height: 50vh;
}

.card-placeholder {
  height: 80px;
  margin-top: 5px;
  background-color: $card-clr;
  opacity: .3;
}

.card-description {
  font-size: 14px;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .column {
    width: 50%;
    display: flex;
  }
}