@import "variables";
@import "partials";

* {
  box-sizing: border-box;
}

body {
  font-family: $main-font;
  background-color: $bg-clr;
}

h1 {
  text-align: center;
  font-family: $title-font;
  color: $darker-clr;
}

.board {
  position: relative;
  p {
  font-family: $card-font;
  text-align: center;
  font-size: 15px;
  color: $darker-clr;
  }
}

.column-container {
  width: calc(242px * 10);
}


.column {
  position: relative;
  display: inline-block;
  width: 210px;
  color: $white-clr;
  transition: .3s;
  float: left;
  margin: 210px 15px 0;


  .glyphicon-remove {
    position: absolute;
    right: 0px;
    cursor: pointer;
    color: $grey-clr;
    padding: 2px;
    font-size: 12px;
    &:hover {
      color: $white-clr;
    }
  }

  .input-add-div {
    height: 25px;
    width: 100%;
    background-color: $darker-clr;
  }
  .glyphicon-ok {
    @extend %ok-sign;
  }
  .input-add {
    @extend %input-field;
  }
}

.create-column-btn {
  @extend %flex-center;
  @extend %title;
  min-width: 210px;
  color: $white-clr;
  border: none;
  transition: .3s;
  outline: none;
  border-radius: $radius;
}

.new-column-btn {
  position: relative;
  @extend %flex-center;
  top: -4px;
  height: 29px;
  width: 210px;
  background-color: $darker-clr;
  display: none;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}

.new-column-ok {
  @extend %ok-sign;
  border-bottom-right-radius: $radius;
  margin-top: 1px;
}

.new-column-input {
  @extend %input-field;
  margin-top: 1px;
}

.card {
  position: relative;
  // background-color: $card-clr;
  padding: 12px 32px 2px 12px;
  margin-top: 5px;
  box-shadow: 0 2px 2px #333;
  // transition: .1s;
  cursor: move;
  background: linear-gradient(to right, $card-clr 93% , transparent 93%);
  p {
    color: $white-clr;
    font-size: 14px;
    font-family: $card-font;
    font-weight: 500;
  }
  &:hover {
    box-shadow: 1px 3px 3px #444;
    transform: scale(1.01);
    transform-origin: top right;
  }
  .glyphicon-remove {
    position: absolute;
    right: 16px;
    cursor: pointer;
    color: $dark-clr;
    padding: 2px;
    font-size: 12px;
    &:hover {
      color: $white-clr;
    }
  }
}

.column-title  {
  @extend %title;
  margin: 0;
}

.column-list {
  position: relative;
  list-style-type: none;
  padding-left: 0;
  margin-top: 5px;
  height: calc(100vh - 313px);
  width: 226px;
  overflow-y: auto;
}

.card-placeholder {
  height: 80px;
  margin-top: 5px;
  background-color: $card-clr;
  opacity: .3;
}

.top-title {
  position: fixed;
  left: calc(50% - 142px);
}

.ps-container > .ps-scrollbar-y-rail {
  opacity: 1;
  background-color: $bg-clr;
}

.ps-container.ps-active-y > .ps-scrollbar-y-rail {
    display: block;
    background-color: $bg-clr;
    opacity: 1;
}

.ps-container:hover > .ps-scrollbar-y-rail:hover {
    background-color: $bg-clr;
    opacity: 1;
}