@import "variables";
@import "partials";

* {
  box-sizing: border-box;
}

body {
  font-family: $main-font;
  background-color: $bg-clr;
}

h1 {
  text-align: center;
  font-family: $title-font;
  color: $darker-clr;
}

.board p {
  text-align: center;
  font-size: 18px;
  color: $darker-clr;
}

.column {
  position: relative;
  min-height: 50px;
  top: 50px;
  color: $white-clr;
  transition: .3s;

  .glyphicon-remove {
    position: absolute;
    right: 15px;
    cursor: pointer;
    color: $dark-clr;
    padding: 2px;
    font-size: 12px;
    &:hover {
      color: $white-clr;
    }
  }

  .input-add-div {
    height: 25px;
    width: 100%;
    background-color: $darker-clr;
  }
  .glyphicon-ok {
    position: relative;
    float: left;
    background-color: $darker-clr;
    font-size: 16px;
    color: $grey-clr;
    cursor: pointer;
    transition: .2s;  
    padding: 4px;
    &:hover {
      color: $white-clr;
    }
  }
  .input-add {
    background-color: $darker-clr;
    color: $grey-clr;
    font-size: 12px;
    font-weight: thin;
    font-style: italic;
    float: left;
    width: 86.6%;
    border: 3px solid $darker-clr;
    border-bottom: 1px solid $white-clr;
    margin-top: -4px;
    transition: .3s;
    &:hover {
      color: $white-clr;
    }
    &:focus {
      color: $white-clr;
      .glyphicon-ok {
        color: $white-clr;
      }
    }
  }
}

.create-column-btn {
  @extend %flex-center;
  min-width: 210px;
  font-size: 25px;
  background-color: $darker-clr;
  color: $white-clr;
  border: none;
  text-align: center;
  line-height: 45px;
  transition: .3s;
}

.new-column-btn {
  position: relative;
  @extend %flex-center;
  height: 25px;
  width: 210px;
  background-color: $darker-clr;
  display: none;
}

.new-column-ok {
  position: relative;
  float: left;
  background-color: $darker-clr;
  font-size: 16px;
  color: $grey-clr;
  cursor: pointer;
  transition: .2s;  
  padding: 4px;
  top: 0;
  &:hover {
    color: $white-clr;
  }
}

.new-column-input {
  background-color: $darker-clr;
  color: $grey-clr;
  font-size: 12px;
  font-weight: thin;
  font-style: italic;
  float: left;
  width: 86.6%;
  border: 3px solid $darker-clr;
  border-bottom: 1px solid $white-clr;
  margin-top: -3px;
  transition: .3s;  
}

.card {
  position: relative;
  background-color: $card-clr;
  padding: 12px;
  margin-top: 5px;
  box-shadow: 0 2px 2px #333;
  // transition: .1s;
  cursor: move;
  p {
    color: $white-clr;    
  }
  // &:before {
  //   position: absolute;
  //   content: '';
  //   bottom: 0;
  //   width: 180px;
  //   height: 3px;
  //   box-shadow: 0 2px 2px #000;
  //   opacity: .5;
  //   z-index: -10;
  //   right: 3px;
  //   transform: rotateZ(1.3deg);
  //   transform-origin: right bottom;
  // }
  // &:after {
  //   position: absolute;
  //   content: '';
  //   bottom: 0;
  //   width: 180px;
  //   height: 3px;
  //   box-shadow: 0 2px 2px #000;
  //   opacity: .5;
  //   z-index: -10;
  //   left: 3px;
  //   transform: rotateZ(-1.3deg);
  //   transform-origin: left bottom;
  // }
  //   &:before {
  //     @extend %card-selector-hover;
  //   }
  //   &:after {
  //     @extend %card-selector-hover;
  //   }
  &:hover {
    box-shadow: 1px 3px 3px #444;
    transform: scale(1.01);
    transform-origin: top right;
  }
  .glyphicon-remove {
    position: absolute;
    right: 0;
    cursor: pointer;
    color: $dark-clr;
    padding: 2px;
    font-size: 12px;
    &:hover {
      color: $white-clr;
    }
  }
}

.column-title  {
  text-align: center;
  line-height: 45px;
  background-color: $darker-clr;
  margin: 0;
  font-size: 25px;
}

.column-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 5px;
  min-height: 50vh;
}

.card-placeholder {
  height: 80px;
  margin-top: 5px;
  background-color: $card-clr;
  opacity: .3;
}

.card-description {
  font-size: 14px;
}

@media screen and (max-width: 480px) {
  .col-s-2 {
    width: 100%;
    float: none;
  }
}

@media screen and (min-width: 800px) {
  .column .input-add {
    width: 80%;
  }

  .column-title {
    font-size: 20px;
  }
}